In [7]:
import numpy as np
import pandas as pd
import datetime as dt
from pandas import Series,DataFrame

In [3]:
ldt_timestamps=[]
for i in range(1,6):
    ldt_timestamps.append(dt.datetime(2011,1,i,16))
print "the index we created has the following dates"
print ldt_timestamps

the index we created has the following dates
[datetime.datetime(2011, 1, 1, 16, 0), datetime.datetime(2011, 1, 2, 16, 0), datetime.datetime(2011, 1, 3, 16, 0), datetime.datetime(2011, 1, 4, 16, 0), datetime.datetime(2011, 1, 5, 16, 0)]

In [27]:
ts_single_value=Series(0.0,index=ldt_timestamps)

In [5]:
print "A time series initiated to one single value: "
print ts_single_value

A time series initiated to one single value:
2011-01-01 16:00:00    0
2011-01-02 16:00:00    0
2011-01-03 16:00:00    0
2011-01-04 16:00:00    0
2011-01-05 16:00:00    0
dtype: float64

In [6]:
na_vals=np.arange(len(ldt_timestamps))
print "Dummy initiated aray: "
print na_vals

Dummy initiated aray:
[0 1 2 3 4]

In [9]:
ts_array=Series(na_vals,index=ldt_timestamps)
print "A time series initialized using a numpy array: "
print ts_array

A time series initialized using a numpy array:
2011-01-01 16:00:00    0
2011-01-02 16:00:00    1
2011-01-03 16:00:00    2
2011-01-04 16:00:00    3
2011-01-05 16:00:00    4
dtype: int32

In [10]:
print "Reading the time series for a particular date"
print "Date: ",ldt_timestamps[1]
print "Value",ts_array[ldt_timestamps[1]]

Reading the time series for a particular date
Date:  2011-01-02 16:00:00
Value 1

In [11]:
print "initializing a list of symbols: "
ls_symbols =['AAPL','GOOG','MSFT','IBM']
print ls_symbols

initializing a list of symbols:
['AAPL', 'GOOG', 'MSFT', 'IBM']

In [14]:
print "initializing a dataframe with one value: "
df_single=DataFrame(index=ldt_timestamps,columns=ls_symbols)
df_single=df_single.fillna(0.0)
print df_single

initializing a dataframe with one value:
                     AAPL  GOOG  MSFT  IBM
2011-01-01 16:00:00     0     0     0    0
2011-01-02 16:00:00     0     0     0    0
2011-01-03 16:00:00     0     0     0    0
2011-01-04 16:00:00     0     0     0    0
2011-01-05 16:00:00     0     0     0    0

In [17]:
print "initializing a dataframe with a numpy array: "
na_vals_2=np.random.randn(len(ldt_timestamps),len(ls_symbols))
df_vals=DataFrame(na_vals_2,index=ldt_timestamps,columns=ls_symbols)
print df_vals

initializing a dataframe with a numpy array:
                         AAPL      GOOG      MSFT       IBM
2011-01-01 16:00:00 -1.180094 -1.947835  0.480877  0.324558
2011-01-02 16:00:00  1.267665 -0.176588 -0.537454 -1.726219
2011-01-03 16:00:00  0.113735  0.047236  0.101455 -3.022643
2011-01-04 16:00:00 -0.366073 -0.104265  0.017585 -1.089533
2011-01-05 16:00:00 -1.088232 -0.433268 -0.336811 -0.294915

In [19]:
print "Access the timeseries of a particulat symbol: "
print df_vals[ls_symbols[1]]

Access the timeseries of a particulat symbol:
2011-01-01 16:00:00   -1.947835
2011-01-02 16:00:00   -0.176588
2011-01-03 16:00:00    0.047236
2011-01-04 16:00:00   -0.104265
2011-01-05 16:00:00   -0.433268
Name: GOOG, dtype: float64

In [22]:
print "Access the timeseries of a particular date: "
print df_vals.ix[ldt_timestamps[1]]

Access the timeseries of a particular date:
AAPL    1.267665
GOOG   -0.176588
MSFT   -0.537454
IBM    -1.726219
Name: 2011-01-02 16:00:00, dtype: float64

In [23]:
print "Access the value for a specific symbol on a specific date: "
df_vals[ls_symbols[1]].ix[ldt_timestamps[1]]

Access the value for a specific symbol on a specific date:

-0.17658750372539439

In [26]:
print "re-indexing the dataframe"
ldt_new_dates=[dt.datetime(2011,1,3,16),dt.datetime(2011,1,5,16),dt.datetime(2011,1,7,16)]
ls_new_symbols=['AAPL','IBM','XOM']
df_new=df_vals.reindex(index=ldt_new_dates,columns=ls_new_symbols)
print df_new
print "Observe that reindex carried over whatever values it could find and set the rest to NAN"

re-indexing the dataframe
                         AAPL       IBM  XOM
2011-01-03 16:00:00  0.113735 -3.022643  NaN
2011-01-05 16:00:00 -1.088232 -0.294915  NaN
2011-01-07 16:00:00       NaN       NaN  NaN
Observe that reindex carried over whatever values it could find and set the rest to NAN