In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [8]:
dframe1=DataFrame(np.arange(8).reshape(2,4),
                  index=pd.Index(['LA','SF'],name='city'),
                  columns=pd.Index(['A','B','C','D'],name='letters'))

In [9]:
dframe1

letters  A  B  C  D
city
LA       0  1  2  3
SF       4  5  6  7

In [10]:
dframe_st=dframe1.stack()
dframe_st

city  letters
LA    A          0
      B          1
      C          2
      D          3
SF    A          4
      B          5
      C          6
      D          7
dtype: int32

In [12]:
dframe_st.unstack()

letters  A  B  C  D
city
LA       0  1  2  3
SF       4  5  6  7

In [13]:
dframe_st.unstack('letters')

letters  A  B  C  D
city
LA       0  1  2  3
SF       4  5  6  7

In [14]:
dframe_st.unstack('city')

city     LA  SF
letters
A         0   4
B         1   5
C         2   6
D         3   7

In [15]:
ser1=Series([0,1,2],index=['Q','X','Y'])

In [16]:
ser2=Series([4,5,6],index=['X','Y','Z'])

In [18]:
dframe=pd.concat([ser1,ser2],keys=['Alpha','Beta'])

In [19]:
dframe

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [20]:
dframe.unstack()

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

In [21]:
dframe.unstack().stack()

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: float64

In [22]:
dframe = dframe.unstack()

In [23]:
dframe

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

In [24]:
dframe.stack()

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: float64

In [25]:
dframe.stack(dropna=False)

Alpha  Q     0
       X     1
       Y     2
       Z   NaN
Beta   Q   NaN
       X     4
       Y     5
       Z     6
dtype: float64