In [51]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
import pandas.io.data as pdweb
import datetime

In [8]:
stocksframe=pdweb.get_data_yahoo(['AAPL'],start=datetime.datetime(2011,12,1),end=datetime.datetime(2011,12,31))['Adj Close']

In [9]:
stocksframe

                 AAPL
Date
2011-12-01  51.601035
2011-12-02  51.836474
2011-12-05  52.276760
2011-12-06  52.002743
2011-12-07  51.755334
2011-12-08  51.964169
2011-12-09  52.357900
2011-12-12  52.121129
2011-12-13  51.718089
2011-12-14  50.571490
2011-12-15  50.405217
2011-12-16  50.681891
2011-12-19  50.840182
2011-12-20  52.667826
2011-12-21  52.734336
2011-12-22  53.013669
2011-12-23  53.649488
2011-12-27  54.075139
2011-12-28  53.557706
2011-12-29  53.887587
2011-12-30  53.871625

In [10]:
stocksframe.to_csv('AAPL.csv')

In [36]:
stocksframe.columns

Index([u'AAPL'], dtype='object')

In [48]:
total_return=(stocksframe.ix['2011-12-30']/stocksframe.ix['2011-12-01'])-1
total_return

AAPL    0.044003
dtype: float64

In [47]:
daily_return=stocksframe.pct_change()
daily_return

                AAPL
Date
2011-12-01       NaN
2011-12-02  0.004563
2011-12-05  0.008494
2011-12-06 -0.005242
2011-12-07 -0.004758
2011-12-08  0.004035
2011-12-09  0.007577
2011-12-12 -0.004522
2011-12-13 -0.007733
2011-12-14 -0.022170
2011-12-15 -0.003288
2011-12-16  0.005489
2011-12-19  0.003123
2011-12-20  0.035949
2011-12-21  0.001263
2011-12-22  0.005297
2011-12-23  0.011993
2011-12-27  0.007934
2011-12-28 -0.009569
2011-12-29  0.006159
2011-12-30 -0.000296

In [53]:
average_daily_return=np.mean(daily_return)
average_daily_return

AAPL    0.002215
dtype: float64

In [54]:
standard_dev_daily_return=np.std(daily_return)
standard_dev_daily_return

AAPL    0.010953
dtype: float64

In [56]:
sharpe_ratio = np.sqrt(250)*(average_daily_return/standard_dev_daily_return)
sharpe_ratio

AAPL    3.197359
dtype: float64