In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
xlsfile=pd.ExcelFile('Salary Negotiation.xlsx')

In [3]:
xlsfile

In [4]:
dframe=xlsfile.parse('Sheet1')

In [5]:
dframe

,Current Salary,Merit Increase,New Salary after Merit Increase,Unnamed: 3,Salary Grade Increase,Increase On Current Salary,Increase On New salary,Difference
0,39465.5,0.035,40846.80285,NaN,0.07,42228.0957,43706.07905,1477.983349
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Effective Raise,This is the value of the proposed salary for ...,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0338164,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Target Raise on Current Salary,This is the % raise I would require on my old ...,NaN,NaN,NaN,NaN,NaN,NaN
7,0.10745,NaN,NaN,NaN,NaN,NaN,NaN,NaN