In [1]:
from __future__ import division
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from math import ceil

In [2]:
df=pd.read_csv(r'C:\Users\ranbir\OneDrive - University of Stirling\IceRobotics\pyalgorithms\data_requests\_act_000.csv',header='infer',parse_dates=True,infer_datetime_format=True)

In [3]:
df.dtypes

subject            object
start              object
end                object
mi                  int64
steps               int64
standing time      object
lying time         object
standing change     int64
Stand Start         int64
lying bouts         int64
dtype: object

In [4]:
df.head()

,subject,start,end,mi,steps,standing time,lying time,standing change,Stand Start,lying bouts
0,2609BL,2016-05-29 00:00:01+00:00,2016-05-29 00:15:01+00:00,0,0,00:00:00,00:15:00,0,0,0
1,2609BL,2016-05-29 00:15:01+00:00,2016-05-29 00:30:01+00:00,0,0,00:00:00,00:15:00,0,0,0
2,2609BL,2016-05-29 00:30:01+00:00,2016-05-29 00:45:01+00:00,0,0,00:00:00,00:15:00,0,0,0
3,2609BL,2016-05-29 00:45:01+00:00,2016-05-29 01:00:01+00:00,0,0,00:00:00,00:15:00,0,0,0
4,2609BL,2016-05-29 01:00:01+00:00,2016-05-29 01:15:01+00:00,0,0,00:00:00,00:15:00,0,0,0

In [5]:
#delete lying bouts- was created while testing a formula in excel
del df['lying bouts']

In [6]:
df.head()

,subject,start,end,mi,steps,standing time,lying time,standing change,Stand Start
0,2609BL,2016-05-29 00:00:01+00:00,2016-05-29 00:15:01+00:00,0,0,00:00:00,00:15:00,0,0
1,2609BL,2016-05-29 00:15:01+00:00,2016-05-29 00:30:01+00:00,0,0,00:00:00,00:15:00,0,0
2,2609BL,2016-05-29 00:30:01+00:00,2016-05-29 00:45:01+00:00,0,0,00:00:00,00:15:00,0,0
3,2609BL,2016-05-29 00:45:01+00:00,2016-05-29 01:00:01+00:00,0,0,00:00:00,00:15:00,0,0
4,2609BL,2016-05-29 01:00:01+00:00,2016-05-29 01:15:01+00:00,0,0,00:00:00,00:15:00,0,0

<img src="lyingbouts.png" width="400",height="400">

In [9]:
#calculate the lying bouts based on 'Stand Start' and number of transitions - 'standing change'
def lying_bouts(stdStart,stdChange):
    #case:lying down for the whole 15:00 mins
    if stdStart == 0 and stdChange == 0:
        return 1
    #case:standing for the whole 15:00 mins
    elif stdStart == 1 and stdChange == 0:
        return 0
    #case: even no. of transitions in the 15:00 mins
    elif stdChange%2==0:
        #case: intially lying down - add 1 
        if stdStart == 0:
            return stdChange/2+1
        #case: intially standing - round up lying_bouts
        else:
            return ceil(stdChange/2)
    #case: odd no. of transitions in the 15:00 mins
    else:
        return ceil(stdChange/2)

In [18]:
print "0 initial, 0 transitions:",lying_bouts(0,0),"lying bouts"
print "1 initial, 0 transitions:",lying_bouts(1,0),"lying bouts"
print "0 initial, even transitions:",lying_bouts(0,4),"lying bouts"
print "0 initial, odd transitions:",lying_bouts(0,3),"lying bouts"
print "1 initial, even transitions:",lying_bouts(1,4),"lying bouts"
print "1 initial, odd transitions:",lying_bouts(1,3),"lying bouts"

0 initial, 0 transitions: 1 lying bouts
1 initial, 0 transitions: 0 lying bouts
0 initial, even transitions: 3.0 lying bouts
0 initial, odd transitions: 2.0 lying bouts
1 initial, even transitions: 2.0 lying bouts
1 initial, odd transitions: 2.0 lying bouts

In [16]:
df['lying bouts']=df.apply(lambda row:lying_bouts(row['Initial State'],row['standing change']),axis=1)

In [17]:
df.head()

,subject,start,end,mi,steps,standing time,lying time,standing change,Initial State,lying bouts
0,2609BL,2016-05-29 00:00:01+00:00,2016-05-29 00:15:01+00:00,0,0,00:00:00,00:15:00,0,0,1.0
1,2609BL,2016-05-29 00:15:01+00:00,2016-05-29 00:30:01+00:00,0,0,00:00:00,00:15:00,0,0,1.0
2,2609BL,2016-05-29 00:30:01+00:00,2016-05-29 00:45:01+00:00,0,0,00:00:00,00:15:00,0,0,1.0
3,2609BL,2016-05-29 00:45:01+00:00,2016-05-29 01:00:01+00:00,0,0,00:00:00,00:15:00,0,0,1.0
4,2609BL,2016-05-29 01:00:01+00:00,2016-05-29 01:15:01+00:00,0,0,00:00:00,00:15:00,0,0,1.0