In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
dframe=DataFrame({'city':['Alma','Brian Head','Fox Park'],'Altitude':[3158,3000,2762]})

In [3]:
dframe

   Altitude        city
0      3158        Alma
1      3000  Brian Head
2      2762    Fox Park

In [4]:
state_map={'Alma':'Colarado','Brian Head':'Utah','Fox Park':'Wyoming'}

In [5]:
dframe['state']=dframe['city'].map(state_map)

In [6]:
dframe

   Altitude        city     state
0      3158        Alma  Colarado
1      3000  Brian Head      Utah
2      2762    Fox Park   Wyoming