In [4]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [5]:
import webbrowser
websites='https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records'
webbrowser.open(websites)

True

In [7]:
nfl_frame =pd.read_clipboard()

In [8]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West

In [9]:
nfl_frame.columns

Index([u'Rank ', u'Team ', u'Won ', u'Lost ', u'Tied ', u'Pct. ',
       u'First NFL Season ', u'Total Games ', u'Divison'],
      dtype='object')

In [10]:
nfl_frame['Lost ']

0    555
1    364
2    547
3    335
4    436
Name: Lost , dtype: int64

In [14]:
nfl_frame['Team ']

0          Chicago Bears
1         Dallas Cowboys
2      Green Bay Packers
3         Miami Dolphins
4    San Francisco 49ers
Name: Team , dtype: object

In [20]:
DataFrame(nfl_frame,columns=['Team ','First NFL Season ','Total Games '])

                  Team   First NFL Season  Total Games
0        Chicago Bears                1920       1,338
1       Dallas Cowboys                1960         850
2    Green Bay Packers                1921       1,304
3       Miami Dolphins                1966         768
4  San Francisco 49ers                1950       1,019

In [21]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West

In [24]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North

In [25]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West

In [26]:
nfl_frame.ix[3]

Rank                               4
Team                 Miami Dolphins
Won                              429
Lost                             335
Tied                               4
Pct.                           .561
First NFL Season                1966
Total Games                     768
Divison                     AFC East
Name: 3, dtype: object

In [27]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [28]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East,Levi's Stadium
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West,Levi's Stadium

In [29]:
nfl_frame['Stadium']=np.arange(5)

In [30]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East,3
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West,4

In [33]:
stadiums=Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])

In [34]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [35]:
nfl_frame["Stadium"]=stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North,AT&T Stadium
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North,NaN
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East,NaN
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West,Levi's Stadium

In [36]:
del nfl_frame["Stadium"]
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West

In [37]:
data={"City":["SF","LA","NYC"],"Population":[837000,3880000,8400000]}
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [38]:
city_frame=DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [39]:
website= "http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html"
webbrowser.open(website)

True