In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [4]:
ser=Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a    1.111957
   b   -0.957447
   c    0.491327
2  a   -1.200257
   b   -0.316379
   c    0.250804
dtype: float64

In [5]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
ser[1]

a    1.111957
b   -0.957447
c    0.491327
dtype: float64

In [7]:
ser[2]

a   -1.200257
b   -0.316379
c    0.250804
dtype: float64

In [9]:
ser[1][0]

1.1119570592824168

In [10]:
ser[:,'a']

1    1.111957
2   -1.200257
dtype: float64

In [11]:
dframe=ser.unstack()

In [12]:
dframe

          a         b         c
1  1.111957 -0.957447  0.491327
2 -1.200257 -0.316379  0.250804

In [19]:
dframe2=DataFrame(np.arange(16).reshape((4,4)),index=[['a','a','b','b'],[1,2,1,2]],
                        columns=[['NY','NY','LA','SF'],['COLD','HOT','HOT','COLD']])

In [20]:
dframe2

      NY      LA   SF
    COLD HOT HOT COLD
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [21]:
dframe2.index.names=['INDEX_1','INDEX_2']
dframe2.columns.names=['Cities','Temp']

In [22]:
dframe2

Cities            NY      LA   SF
Temp            COLD HOT HOT COLD
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [23]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            COLD HOT     COLD
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [24]:
dframe2.sortlevel(1)

Cities            NY      LA   SF
Temp            COLD HOT HOT COLD
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [25]:
dframe2.sum(level='Temp',axis=1)

Temp             COLD  HOT
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27