In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [4]:
ser1=Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2=ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [8]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [11]:
ser3=Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [15]:
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [17]:
dframe=DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                 columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.392885  0.592408  0.551248 -0.540232  1.164710
B -0.293987  1.015472  0.587031  0.182744  1.454225
D  1.927036 -1.715347  0.770198  1.052816  0.200439
E  0.892633  0.570264 -1.677515  0.128483 -1.044300
F  0.567534 -1.226756 -0.431192 -0.899255 -2.206875

In [18]:
dframe2=dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.392885  0.592408  0.551248 -0.540232  1.164710
B -0.293987  1.015472  0.587031  0.182744  1.454225
C       NaN       NaN       NaN       NaN       NaN
D  1.927036 -1.715347  0.770198  1.052816  0.200439
E  0.892633  0.570264 -1.677515  0.128483 -1.044300
F  0.567534 -1.226756 -0.431192 -0.899255 -2.206875

In [19]:
new_columns=['col1','col2','col3','col4','col5','col6']

In [20]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.392885  0.592408  0.551248 -0.540232  1.164710   NaN
B -0.293987  1.015472  0.587031  0.182744  1.454225   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.927036 -1.715347  0.770198  1.052816  0.200439   NaN
E  0.892633  0.570264 -1.677515  0.128483 -1.044300   NaN
F  0.567534 -1.226756 -0.431192 -0.899255 -2.206875   NaN

In [21]:
dframe

       col1      col2      col3      col4      col5
A  0.392885  0.592408  0.551248 -0.540232  1.164710
B -0.293987  1.015472  0.587031  0.182744  1.454225
D  1.927036 -1.715347  0.770198  1.052816  0.200439
E  0.892633  0.570264 -1.677515  0.128483 -1.044300
F  0.567534 -1.226756 -0.431192 -0.899255 -2.206875

In [23]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  0.392885  0.592408  0.551248 -0.540232  1.164710   NaN
B -0.293987  1.015472  0.587031  0.182744  1.454225   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.927036 -1.715347  0.770198  1.052816  0.200439   NaN
E  0.892633  0.570264 -1.677515  0.128483 -1.044300   NaN
F  0.567534 -1.226756 -0.431192 -0.899255 -2.206875   NaN